登录保护是指当您绑定了虚拟MFA设备，在您进行登录操作的时候，除了输入用户名和密码，还需要输入虚拟MFA设备产生的动态验证码进行二次验证。这样即使用户名和密码丢失，他人也无法登录您的账，能够最大限度地保证您的账号安全。

 

主账号用户名和密码登录后，在该页面输入账号绑定虚拟MFA设备生成的动态验证码。登录问题请查看链接：[MFA登录验证常见问题](https://github.com/jdcloudcom/cn/blob/edit/documentation/Management/IAM/Virtual-MFA-Device/MFA-FAQs.md)

![](https://github.com/jdcloudcom/cn/blob/edit/image/IAM/Virtual%20MFA%20device/MFA%E7%99%BB%E9%99%86%E9%AA%8C%E8%AF%811.png)

子账号用户名和密码登录后，在该页面输入账号绑定虚拟MFA设备生成的动态验证码。登录问题请查看链接：[MFA登录验证常见问题](https://github.com/jdcloudcom/cn/blob/edit/documentation/Management/IAM/Virtual-MFA-Device/MFA-FAQs.md)

![](https://github.com/jdcloudcom/cn/blob/edit/image/IAM/Virtual%20MFA%20device/MFA%E7%99%BB%E5%BD%95%E9%AA%8C%E8%AF%812.png)
