# 企业实名认证操作指引

如果您是企业用户，可以在京东云直接提交实名认证申请；也可以在京东金融完成实名认证后，登录京东云 > 账户管理 > 企业实名认证 > 立即同步 。详情请见 https://biz.jd.com > 商户中心 > 京东商城用户登录 > 实名认证：立即认证。

企业实名认证流程：1. 选择企业类型  > 2. 选择营业执照证件类型型  > 3. 提交证件信息 > 4. 提交成功，企业认证信息待审核 > 5. 资料审核通过 > 6. 对公打款成功 > 7.对公打款验证通过

 1. 请选择单位类型：
 （1）营业执照的类型为有限责任公司，请选择企业商户；
 （2）营业执照的类型为个体工商户，请选择个体工商户
 2. 请选择营业执照的证件类型：
 （1）执照为18位统一社会信用代码，请选择统一社会信用代码入口进行认证；
 （2）执照为三证合一，请选择多证合一（无独立的组织机构代码和税务登记证）入口进行认证；
 （3）执照为普通执照，请选择普通营业执照（存在独立的组织机构代码和税负登记证）入口进行认证。
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E9%80%89%E6%8B%A9%E4%BC%81%E4%B8%9A%E7%B1%BB%E5%9E%8B.png)

 3. 提交证件信息

    - 填写营业执照信息
        - 所有上传照片，必须保证清晰，完整；不得有涂改，水印等痕迹；
         - 所有证件原件照片或扫描件无需加盖企业公章，复印件均需要加盖红色企业公章；
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E8%90%A5%E4%B8%9A%E6%89%A7%E7%85%A7%E4%BF%A1%E6%81%AF.png)

    - 填写对公账户信息
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E5%AF%B9%E5%85%AC%E8%B4%A6%E6%88%B7%E4%BF%A1%E6%81%AF.png)
    - 填写法人证件信息
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%B3%95%E4%BA%BA%E8%AF%81%E4%BB%B6%E4%BF%A1%E6%81%AF.png)
    
    - 填写被授权人证件信息
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E8%A2%AB%E6%8E%88%E6%9D%83%E4%BA%BA%E8%AF%81%E4%BB%B6%E4%BF%A1%E6%81%AF.png) 
    
    - 填写授权委托书，请按照授权书模板填写。
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%99.png)
    
    - 企业实名认证信息预览，通知手机和邮箱填写。实名认证资料审核通过，打款成功都会短信或邮件通知到您填写的手机和邮箱中
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%992.png)
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%993.png) 

 4. 提交成功，企业信息待审核
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E6%8F%90%E4%BA%A4%E6%88%90%E5%8A%9F%EF%BC%8C%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E5%BE%85%E5%AE%A1%E6%A0%B8.png) 
 
 5. 资料审核通过，待打款
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E8%B5%84%E6%96%99%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87%EF%BC%8C%E5%BE%85%E6%89%93%E6%AC%BE.png)  

 6. 对公打款成功，待验证
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%AF%B9%E5%85%AC%E6%89%93%E6%AC%BE%E6%88%90%E5%8A%9F%EF%BC%8C%E5%BE%85%E9%AA%8C%E8%AF%81.png)
 

 7. 对公打款验证通过。
![](../../../image/User/Real%20name%20verification/Business%20account%20verification/%E5%AF%B9%E5%85%AC%E6%89%93%E6%AC%BE%E9%AA%8C%E8%AF%81%E9%80%9A%E8%BF%87%E3%80%82.png)

注: 对公打款金额连续验证5次失败后，实名认证未通过，账号将会被冻结2小时。
