# 学生认证操作流程
## 一．已通过京东校园白条学生认证的用户

 1. 点击跃云计划页面中【完成学生认证】按钮，前往京东云控制台-用户中心；
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E5%AE%8C%E6%88%90%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81.jpg)
 2. 点击用户中心-学生认证中的【立即授权】按钮，授权学生认证信息；
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)
 3. 授权成功,提示您已通过学生认证,点击【校园活动专区】，返回至跃云计划活动页面，即可购买优惠产品。
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%A0%A1%E5%9B%AD%E6%B4%BB%E5%8A%A8%E4%B8%93%E5%8C%BA.jpg)

## 二、未注册过京东校园白条学生认证的用户

 1. 点击跃云计划页面中【完成学生认证】按钮，前往京东云控制台-用户中心；
    <div align=center><img src=https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E5%AE%8C%E6%88%90%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81.jpg/></div>
 2. 点击用户中心-学生认证中的【立即授权】按钮后提示不是校园白条用户；
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)
 3. 根据提示弹窗，点击【立即认证】按钮，前往京东校园白条激活页面；
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E8%AE%A4%E8%AF%81.jpg)
 
 4. 根据页面内容进行个人信息的填写，提交申请：
    
    (1) 未开通过任何（普通版/校园版）京东白条的用户： 
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B71.jpg)
    (2) 开通过普通京东白条但未开通校园白条的用户：
![](../../../edit/image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B72.jpg)
        
 5. 提示已经通过学生认证；
 6. 返回至跃云计划活动页面，即可购买优惠产品。
